.word {
    font-family: "Staatliches";
    color: white;
    font-size: 80px;
    letter-spacing: 12px;
    text-align: center;
    padding: 0 20px;
}

.word-radio-wrapper {
    margin: 0;
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% - 256px);
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.word-dj-set-wrapper{
    margin: 50px 0;
    padding: 50px 0;
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% - 420px);
    overflow: hidden;
    display: flex;
    justify-content: center;
}
