.marquee {
    width: 100%;
    overflow: hidden;
}

.marquee-track {
    display: flex;
    width: max-content;
}

.marquee-content {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

/* animations */

.left {
    animation: scroll-left 40s linear infinite;
}

.right {
    animation: scroll-right 60s linear infinite;
}

@keyframes scroll-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@keyframes scroll-right {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0);
    }
}
